.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem 3rem 3rem;
  background-color: #666;
  width: max-content;
  max-width: 33%;
  border-radius: .3rem;

  &.success {
    border-top: 2rem solid rgb(87, 123, 8);
  }
  &.error {
    border-top: 2rem solid indianred;
  }
  .btnClose {
    position: absolute;
    top: -1.6rem;
    right: 0.7rem;
    cursor: pointer;
  }
}
